# Dependencies
node_modules

# Build
dist
*.local

# Next (legacy – remove .next if present)
.next

# Env
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
